extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro
		.case
			.intro__wrap.row
				.intro__content
					.intro__title.h1 Увеличьте производительность резки плитки и камня #[strong в 2 раза], с помощью станков 1 класса #[strong Wandeli] с функцией высокоточной калибровки
					.intro__subtitle.h2 #[strong #[u Рассрочка на все виды станков. Гарантия 2 года.]]
					.intro__text
						p Рассрочка на все виды станков. Гарантия 2 года.
					a.intro__btn.btn.--md.--bg-blue(href="") Получить консультацию
			.intro__img-wrap
				.intro__img
				.intro__line
					<svg width="927" height="821" viewBox="0 0 927 821" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.045166 820.5L611.575 0H927L338 820.5H0.045166Z" fill="url(#intro-line)"/><defs><linearGradient id="intro-line" x1="731.238" y1="-37.2683" x2="506.148" y2="829.689" gradientUnits="userSpaceOnUse"><stop stop-color="#1C9AD7"/><stop offset="1" stop-color="#1C9AD7" stop-opacity="0"/></linearGradient></defs></svg>

			.intro__bg.bg
				img(src="" alt="")

	.advantages
		.case
			.advantages__name Wandeli Shop
			.advantages__title.h1 #[i Приобретая станок Wandeli вы получаете качество резки #[br]на уровне #[strong заводского края!]]
			.advantages__subtitle.h1 #[i #[strong #[u Преимущества перед аналогами]]]
			.advantages__wrap.bgw
				.advantages__list.row
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Небольшой вес
						.advantage__text За счет алюминиевого профиля. #[br]Удобен при траспортировки #[br]и быстро собирается мастером
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Высокооборотистый двигатель
						.advantage__text Высокооборотистый двигатель
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Лазерный маркер
						.advantage__text Облегчает позиционирование плитки на столе #[br]и беспечивает высокоточную резку
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Создание полукруглых фасок
						.advantage__text С помощью диска с круглением #[br]который входит в комлпект
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Создание борозд на ступенях
						.advantage__text С помощью прямых дисков #[br]которые образуют борозды
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Функция автоматического реза
						.advantage__text Функция автоматического реза
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Система охлаждения диска
						.advantage__text Вода подается из любой емкости #[br]с помощью насоса
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Функция экстренного отключения
						.advantage__text Защищает станок от повреждений #[br]и обеспечивает безопасность мастеру
					
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2 Рез под углом более 45 градусов
						.advantage__text Обеспечивает более острый угол
				.advantage__bg.bg
					img(src="" alt="")

	.whom
		.case
			.whom__title.h1 #[i Для кого подойдут станки #[strong #[u Для кого подойдут станки]]]
		.whom__list.row
			.whom__item.bgw
				.whom__wrap
					.whom__name.h1 Ремонтным компанииям
					.whom__icon
				.whom__img.bg
					img(src="" alt="")
			.whom__item.bgw
				.whom__wrap
					.whom__name.h1 Мастерам плиткорезчикам
					.whom__icon
				.whom__img.bg
					img(src="" alt="")

	.economy.bgw
		.case
			.economy__wrap.row
				.economy__content
					.economy__title.h1 #[i #[strong Хорошее оборудование #[u сэкономит ваше время,] сделает #[br]ваш рабочий процесс #[u максимально эффективным] #[br]и принесет #[u большую прибыль!]]]
					a.economy__btn.btn.--md.--bg-blue(href="") Получить консультацию
				.economy__img
					img(src="" alt="")
		.economy__bg.bg
			img(src="" alt="")

	.gallery
		.case
			.gallery__title.h1 #[i Результат резки станками #[strong #[u Wandeli]]]
			.gallery__sliders
				.gallery__slider
					.gallery__list
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
					.gallery__arrows
						.gallery__arrow.arrow.--prev
						.gallery__arrow.arrow.--next
			.gallery__bg.bg
				img(src="" alt="")

	include ../../parts/catalog


	.about.bgw
		.case
			.about__title.h1 #[i О #[strong #[u нас]]]
			.about__wrap
				.about__img
					img(src="" alt="")
				.about__content
					.about__text
						p Здравствуйте! #[br]Наша компания #[strong #[u ООО «Fortezzo»] является официальным представителем марки Wandeli на территории Российской Федерации, Республики Беларусь и Республики Казахстан. ]
						p Для нас важно чтобы наши покупатели решали потребности в своей ежедневной деятельности с минимальными трудозатратами и экономили своё время и нервы.  За счет преимуществ наших станков, производительность труда в сегменте резки плитки и камня #[strong #[u вырастает в 2 раза,]] соответственно #[strong #[u увеличивается прибыль.]]
						p И ещё несколько слов о том, почему выбирают нас:
					.about__list.row
						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3 Сертифицированная продукция
							.about__item-text Наши продукты имеют #[br]сертификаты соотвествия ЕАС

						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3 Бесплатная доставка
							.about__item-text Осуществляем бесплатную доставку по РФ, #[br]Беларусии и Казахстану

						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3 Покупка в кредит
							.about__item-text Первоначальный взнос 0%. #[br]Индивидуальные условия

						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3 2 года гарантии
							.about__item-text Гарантия от FORTEZZO SERVICE, а также постгарантийный #[br]сервис в течении всего срока службы станка.
			.about__foot.row
				.about__persona
					.about__persona-name.h2 #[strong Ген. директор ООО «Fortezzo» ]
					.about__persona-desc.h2 #[strong #[i #[u Чайников Алексей Валентинович]]]
				.about__signature
					img(src="" alt="")
				a.about__youtube.yt(href="")
					.yt__icon
						<svg width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.3203 3.44803C31.1403 2.78403 30.7803 2.17903 30.2903 1.69203C29.8103 1.20403 29.2003 0.851032 28.5403 0.667032C26.0403 3.20673e-05 16.0103 3.20486e-05 16.0103 3.20486e-05C16.0103 3.20486e-05 6.00031 -0.015968 3.48031 0.667032C2.81031 0.852032 2.21031 1.20503 1.72031 1.69303C1.24031 2.18003 0.880312 2.78403 0.700312 3.44803C0.220312 6.00203 -0.00968759 8.59503 0.00031241 11.193C0.00031241 13.778 0.230312 16.359 0.700312 18.901C0.880312 19.565 1.24031 20.17 1.72031 20.658C2.21031 21.146 2.81031 21.501 3.48031 21.688C5.97031 22.355 16.0103 22.355 16.0103 22.355C16.0103 22.355 26.0203 22.355 28.5403 21.688C29.2003 21.502 29.8103 21.147 30.2903 20.659C30.7803 20.171 31.1403 19.566 31.3203 18.901C31.7803 16.36 32.0103 13.776 31.9903 11.193C32.0103 8.59303 31.7903 6.00503 31.3203 3.44803ZM12.8103 15.98V6.38503L21.1603 11.193L12.8103 15.98Z" fill="#E2E9ED"/></svg>

					.yt__title Наш YouTube канал
		.about__bg.bg
			img(src="" alt="")

	include ../../parts/consult

