extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro
		.case
			.intro__wrap.row
				.intro__content(class='animate__animated animate__fadeInUp wow')
					.intro__title.h1 #[strong Увеличьте производительность резки плитки и камня #[br]#[u в 2 раза], с помощью станков 1 класса #[u Wandeli] #[br]с функцией высокоточной калибровки]
					.intro__subtitle.h2 #[strong #[u Рассрочка на все виды станков. Гарантия 2 года.]]
					.intro__text
						p #[strong Оставьте заявку на оформление заказа и получите подробную консультацию от специалиста #[br]+ видео от Ген. директора компании «Обзор и калибровка станка Wandeli»#[br]]
					a.intro__btn.btn.--md.--bg-blue.--inline(href="javascript:;" data-src="#modal-consult" data-fancybox="")
						.btn__inner
							.btn__lines #[div]#[div]#[div]
							.btn__text Получить консультацию
			.intro__img-wrap
				.intro__img(class='animate__animated animate__fadeInRight wow')
					img(src="_/uploads/intro-img.png" alt="")
				.intro__line
					<svg width="927" height="821" viewBox="0 0 927 821" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.045166 820.5L611.575 0H927L338 820.5H0.045166Z" fill="url(#intro-line)"/><defs><linearGradient id="intro-line" x1="731.238" y1="-37.2683" x2="506.148" y2="829.689" gradientUnits="userSpaceOnUse"><stop stop-color="#1C9AD7"/><stop offset="1" stop-color="#1C9AD7" stop-opacity="0"/></linearGradient></defs></svg>

			.intro__bg.bg
				img(src="_/uploads/intro-bg.png" alt="")

	.advantages
		.case
			.advantages__name(class='animate__animated animate__fadeInLeft wow') #[span Wandeli Shop]
			.advantages__title.h1(class='animate__animated animate__fadeInUp wow') #[i Приобретая станок Wandeli вы получаете качество резки #[br]на уровне #[strong заводского края!]]
			.advantages__subtitle.h1(class='animate__animated animate__fadeInUp wow') #[i #[strong #[u Преимущества перед аналогами]]]
			.advantages__icon
				<svg width="25" height="15" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.4755 14.445L24.6006 3.31968C24.8581 3.06237 25 2.71887 25 2.35262C25 1.98636 24.8581 1.64286 24.6006 1.38555L23.7815 0.566247C23.2478 0.0331213 22.3803 0.0331213 21.8474 0.566247L12.5052 9.90845L3.15262 0.555881C2.8951 0.298566 2.55181 0.156494 2.18575 0.156494C1.81929 0.156494 1.476 0.298566 1.21828 0.555881L0.399387 1.37518C0.141869 1.6327 0 1.97599 0 2.34225C0 2.70851 0.141869 3.052 0.399387 3.30931L11.5347 14.445C11.793 14.7029 12.1379 14.8446 12.5046 14.8438C12.8727 14.8446 13.2174 14.7029 13.4755 14.445Z" fill="#179BD7"/></svg>
			.advantages__wrap.bgw
				.advantages__list.row
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-1.svg" alt="")
						.advantage__name.h2 Небольшой вес
						.advantage__text За счет алюминиевого профиля. #[br]Удобен при траспортировки #[br]и быстро собирается мастером
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-2.svg" alt="")
						.advantage__name.h2 Высокооборотистый двигатель
						.advantage__text С мощностью 1500 Вт, до 12000 #[br]оборотов в минуту
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-3.svg" alt="")
						.advantage__name.h2 Лазерный маркер
						.advantage__text Облегчает позиционирование плитки на столе #[br]и беспечивает высокоточную резку
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-4.svg" alt="")
						.advantage__name.h2 Создание полукруглых фасок
						.advantage__text С помощью диска с круглением #[br]который входит в комлпект
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-5.svg" alt="")
						.advantage__name.h2 Создание борозд на ступенях
						.advantage__text С помощью прямых дисков #[br]которые образуют борозды
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-6.svg" alt="")
						.advantage__name.h2 Функция автоматического реза
						.advantage__text Существенная экономия времени #[br]при работе
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-7.svg" alt="")
						.advantage__name.h2 Система охлаждения диска
						.advantage__text Вода подается из любой емкости #[br]с помощью насоса
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-8.svg" alt="")
						.advantage__name.h2 Функция экстренного отключения
						.advantage__text Защищает станок от повреждений #[br]и обеспечивает безопасность мастеру
					
					.advantages__item.advantage(class='animate__animated animate__fadeInUp wow')
						.advantage__icon
							img(src="_/uploads/advantage-9.svg" alt="")
						.advantage__name.h2 Рез под углом более 45 градусов
						.advantage__text Обеспечивает более острый угол
				.advantages__bg.bg
					img(src="_/uploads/advantages-bg.png" alt="")

	.whom
		.case
			.whom__title.h1(class='animate__animated animate__fadeInUp wow') #[i Для кого подойдут станки #[strong #[u Wandeli?]]]
		.whom__list.row
			.whom__item.bgw(class='animate__animated animate__fadeInLeft wow')
				.whom__wrap
					.whom__name.h1 Ремонтным компанииям
					.whom__icon
						<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.7514 0.506786C16.4195 0.174821 15.8813 0.174821 15.5493 0.506786L5.36581 10.6904L1.45143 6.77603C1.11949 6.44407 0.581338 6.4441 0.24934 6.77603C-0.082625 7.10797 -0.082625 7.64612 0.24934 7.97809L4.76477 12.4934C5.0966 12.8254 5.63515 12.8251 5.96685 12.4934L16.7514 1.70887C17.0834 1.37694 17.0834 0.838751 16.7514 0.506786Z" fill="#179BD7"/></svg>
				.whom__img.bg
					img(src="_/uploads/whom-1.jpg" alt="")
			.whom__item.bgw(class='animate__animated animate__fadeInRight wow')
				.whom__wrap
					.whom__name.h1 Мастерам плиткорезчикам
					.whom__icon
						<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.7514 0.506786C16.4195 0.174821 15.8813 0.174821 15.5493 0.506786L5.36581 10.6904L1.45143 6.77603C1.11949 6.44407 0.581338 6.4441 0.24934 6.77603C-0.082625 7.10797 -0.082625 7.64612 0.24934 7.97809L4.76477 12.4934C5.0966 12.8254 5.63515 12.8251 5.96685 12.4934L16.7514 1.70887C17.0834 1.37694 17.0834 0.838751 16.7514 0.506786Z" fill="#179BD7"/></svg>
				.whom__img.bg
					img(src="_/uploads/whom-2.jpg" alt="")

	.economy.bgw
		.case
			.economy__wrap
				.economy__content
					.economy__title.h1(class='animate__animated animate__fadeInLeft wow') #[i #[strong Хорошее оборудование #[u сэкономит ваше время,] сделает #[br]ваш рабочий процесс #[u максимально эффективным] #[br]и принесет #[u большую прибыль!]]]
					a.economy__btn.btn.--md.--bg-blue.--inline(class='animate__animated animate__fadeInLeft wow' href="javascript:;" data-src="#modal-consult" data-fancybox="")
						.btn__inner
							.btn__lines #[div]#[div]#[div]
							.btn__text Получить консультацию
			.economy__img
				img(src="_/uploads/economy-img.png" alt="")
			.economy__bg.bg
				img(src="_/uploads/economy-bg.png" alt="")

	.gallery.bgw
		.case
			.gallery__title.h1(class='animate__animated animate__fadeInUp wow') #[i Результат резки станками #[strong #[u Wandeli]]]
			.gallery__sliders(class='animate__animated animate__fadeInUp wow')
				.gallery__slider
					.gallery__wrap.swiper-container
						.gallery__list.swiper-wrapper
							a.gallery__item.bgw.swiper-slide(href="javascript:;" data-src="_/uploads/tech-1.jpg" data-fancybox="")
								.gallery__img.bg
									img(src="_/uploads/tech-1.jpg" alt="")
							a.gallery__item.bgw.swiper-slide(href="javascript:;" data-src="_/uploads/tech-2.jpg" data-fancybox="")
								.gallery__img.bg
									img(src="_/uploads/tech-2.jpg" alt="")
							a.gallery__item.bgw.swiper-slide(href="javascript:;" data-src="_/uploads/tech-3.jpg" data-fancybox="")
								.gallery__img.bg
									img(src="_/uploads/tech-3.jpg" alt="")
							a.gallery__item.bgw.swiper-slide(href="javascript:;" data-src="_/uploads/tech-4.jpg" data-fancybox="")
								.gallery__img.bg
									img(src="_/uploads/tech-4.jpg" alt="")
					.gallery__arrows
						.gallery__arrow.arrow.--prev
							<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.11074 6.45372L7.34092 0.223657C7.48502 0.0794465 7.67737 0 7.88248 0C8.08758 0 8.27994 0.0794465 8.42403 0.223657L8.88284 0.682352C9.18139 0.981244 9.18139 1.46703 8.88284 1.76547L3.65121 6.9971L8.88865 12.2345C9.03274 12.3787 9.1123 12.571 9.1123 12.776C9.1123 12.9812 9.03274 13.1734 8.88865 13.3178L8.42984 13.7763C8.28563 13.9206 8.09339 14 7.88828 14C7.68318 14 7.49082 13.9206 7.34673 13.7763L1.11074 7.54059C0.966304 7.39592 0.886971 7.20277 0.887427 6.99744C0.886971 6.79131 0.966304 6.59827 1.11074 6.45372Z" fill="white"/></svg>

						.gallery__arrow.arrow.--next
							<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.88926 6.45372L2.65908 0.223657C2.51498 0.0794465 2.32263 0 2.11752 0C1.91242 0 1.72006 0.0794465 1.57597 0.223657L1.11716 0.682352C0.818607 0.981244 0.818607 1.46703 1.11716 1.76547L6.34879 6.9971L1.11135 12.2345C0.967256 12.3787 0.887695 12.571 0.887695 12.776C0.887695 12.9812 0.967256 13.1734 1.11135 13.3178L1.57016 13.7763C1.71437 13.9206 1.90661 14 2.11172 14C2.31682 14 2.50918 13.9206 2.65327 13.7763L8.88926 7.54059C9.0337 7.39592 9.11303 7.20277 9.11257 6.99744C9.11303 6.79131 9.0337 6.59827 8.88926 6.45372Z" fill="white"/></svg>

			.gallery__bg.bg
				img(src="_/uploads/gallery-bg.png" alt="")

	include ../../parts/catalog


	.about.bgw
		.case
			.about__title.h1(class='animate__animated animate__fadeInUp wow') #[i О #[strong #[u нас]]]
			.about__wrap
				.about__content(class='animate__animated animate__fadeInUp wow')
					.about__text
						p Здравствуйте! #[br]Наша компания #[strong #[u ООО «Fortezzo»]] является официальным представителем марки Wandeli на территории Российской Федерации, Республики Беларусь и Республики Казахстан. 
						p Для нас важно чтобы наши покупатели решали потребности в своей ежедневной деятельности с минимальными трудозатратами и экономили своё время и нервы.  За счет преимуществ наших станков, производительность труда в сегменте резки плитки и камня #[strong #[u вырастает в 2 раза,]] соответственно #[strong #[u увеличивается прибыль.]]
						p.--mt И ещё несколько слов о том, почему выбирают нас:
					.about__img
						img(src="_/uploads/about-img.png" alt="")
					.about__contacts.row
						.about__contacts-left
							.about__persona
								.about__persona-name.h2 #[strong Ген. директор ООО «Fortezzo» ]
								.about__persona-desc.h2 #[strong #[i #[u Чайников Алексей Валентинович]]]
							.about__signature
								img(src="_/uploads/about-signature.png" alt="")
						.about__contacts-right
							a.about__youtube.yt(href="")
								.yt__icon
									<svg width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.3203 3.44803C31.1403 2.78403 30.7803 2.17903 30.2903 1.69203C29.8103 1.20403 29.2003 0.851032 28.5403 0.667032C26.0403 3.20673e-05 16.0103 3.20486e-05 16.0103 3.20486e-05C16.0103 3.20486e-05 6.00031 -0.015968 3.48031 0.667032C2.81031 0.852032 2.21031 1.20503 1.72031 1.69303C1.24031 2.18003 0.880312 2.78403 0.700312 3.44803C0.220312 6.00203 -0.00968759 8.59503 0.00031241 11.193C0.00031241 13.778 0.230312 16.359 0.700312 18.901C0.880312 19.565 1.24031 20.17 1.72031 20.658C2.21031 21.146 2.81031 21.501 3.48031 21.688C5.97031 22.355 16.0103 22.355 16.0103 22.355C16.0103 22.355 26.0203 22.355 28.5403 21.688C29.2003 21.502 29.8103 21.147 30.2903 20.659C30.7803 20.171 31.1403 19.566 31.3203 18.901C31.7803 16.36 32.0103 13.776 31.9903 11.193C32.0103 8.59303 31.7903 6.00503 31.3203 3.44803ZM12.8103 15.98V6.38503L21.1603 11.193L12.8103 15.98Z" fill="#E2E9ED"/></svg>

								.yt__title Наш YouTube канал
					.about__subtitle И ещё несколько слов о том, почему выбирают нас:
					.about__list.row
						.about__item
							.about__item-icon
								img(src="_/uploads/about-1.svg" alt="")
							.about__item-title.h3 Сертифицированная продукция
							.about__item-text Наши продукты имеют #[br]сертификаты соотвествия ЕАС

						.about__item
							.about__item-icon
								img(src="_/uploads/about-2.svg" alt="")
							.about__item-title.h3 Бесплатная доставка
							.about__item-text Осуществляем бесплатную доставку по РФ, #[br]Беларусии и Казахстану

						.about__item
							.about__item-icon
								img(src="_/uploads/about-3.svg" alt="")
							.about__item-title.h3 Покупка в кредит
							.about__item-text Первоначальный взнос 0%. #[br]Индивидуальные условия

						.about__item
							.about__item-icon
								img(src="_/uploads/about-4.svg" alt="")
							.about__item-title.h3 2 года гарантии
							.about__item-text Гарантия от FORTEZZO SERVICE, а также постгарантийный #[br]сервис в течении всего срока службы станка.
			.about__foot.row(class='animate__animated animate__fadeInUp wow')
				.about__persona
					.about__persona-name.h2 #[strong Ген. директор ООО «Fortezzo» ]
					.about__persona-desc.h2 #[strong #[i #[u Чайников Алексей Валентинович]]]
				.about__signature
					img(src="_/uploads/about-signature.png" alt="")
				a.about__youtube.yt(href="")
					.yt__icon
						<svg width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.3203 3.44803C31.1403 2.78403 30.7803 2.17903 30.2903 1.69203C29.8103 1.20403 29.2003 0.851032 28.5403 0.667032C26.0403 3.20673e-05 16.0103 3.20486e-05 16.0103 3.20486e-05C16.0103 3.20486e-05 6.00031 -0.015968 3.48031 0.667032C2.81031 0.852032 2.21031 1.20503 1.72031 1.69303C1.24031 2.18003 0.880312 2.78403 0.700312 3.44803C0.220312 6.00203 -0.00968759 8.59503 0.00031241 11.193C0.00031241 13.778 0.230312 16.359 0.700312 18.901C0.880312 19.565 1.24031 20.17 1.72031 20.658C2.21031 21.146 2.81031 21.501 3.48031 21.688C5.97031 22.355 16.0103 22.355 16.0103 22.355C16.0103 22.355 26.0203 22.355 28.5403 21.688C29.2003 21.502 29.8103 21.147 30.2903 20.659C30.7803 20.171 31.1403 19.566 31.3203 18.901C31.7803 16.36 32.0103 13.776 31.9903 11.193C32.0103 8.59303 31.7903 6.00503 31.3203 3.44803ZM12.8103 15.98V6.38503L21.1603 11.193L12.8103 15.98Z" fill="#E2E9ED"/></svg>

					.yt__title Наш YouTube канал
			.about__bg.bg
				img(src="_/uploads/about-bg.png" alt="")

	include ../../parts/consult

