extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro
		.case
			.intro__wrap.row
				.intro__content
					.intro__title.h1 #[strong ]
					.intro__subtitle.h2 #[strong #[u ]]
					.intro__text
					a.intro__btn.btn.--md.--bg-blue(href="")

	.advantages
		.case
			.advantages__name
			.advantages__title.h1 #[strong #[i ]]
			.advantages__subtitle.h1 #[strong #[u ]]
			.advantages__wrap.bgw
				.advantages__list.row
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
					.advantages__item.advantage
						.advantage__icon
							img(src="" alt="")
						.advantage__name.h2
						.advantage__text
				.advantage__bg.bg
					img(src="" alt="")

	.whom
		.case
			.whom__title.h1 #[strong #[u ]]
		.whom__list.row
			.whom__item.bgw
				.whom__wrap
					.whom__name.h1
					.whom__icon
				.whom__img.bg
					img(src="" alt="")
			.whom__item.bgw
				.whom__wrap
					.whom__name.h1
					.whom__icon
				.whom__img.bg
					img(src="" alt="")

	.economy.bgw
		.case
			.economy__wrap.row
				.economy__content
					.economy__title.h1 #[strong #[i]]
					a.economy__btn.btn.--md.--bg-blue(href="")
				.economy__img
					img(src="" alt="")
		.economy__bg.bg
			img(src="" alt="")

	.gallery
		.case
			.gallery__title.h1 #[i #[u ]]
			.gallery__sliders
				.gallery__slider
					.gallery__list
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
						.gallery__item.bgw
							.gallery__img.bg
								img(src="" alt="")
					.gallery__arrows
						.gallery__arrow.arrow.--prev
						.gallery__arrow.arrow.--next

	include ../../parts/catalog


	.about.bgw
		.case
			.about__title.h1 #[i #[u ]]
			.about__wrap
				.about__img
					img(src="" alt="")
				.about__content
					.about__text
						p #[strong #[u ]]
						p #[strong #[u ]] #[strong #[u ]]
						p
					.about__list.row
						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3
							.about__item-text

						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3
							.about__item-text

						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3
							.about__item-text

						.about__item
							.about__item-icon
								img(src="" alt="")
							.about__item-title.h3
							.about__item-text
			.about__foot.row
				.about__persona
					.about__persona-name.h2 #[strong]
					.about__persona-desc.h2 #[strong #[i #[u ]]]
				.about__signature
					img(src="" alt="")
				a.about__youtube.yt(href="")
					.yt__icon
					.yt__title
		.about__bg.bg
			img(src="" alt="")

	include ../../parts/consult

