.catalog
	.case
		.catalog__title.t1 #[i #[u ]]
		.catalog__list
			.catalog__item
				.catalog__name
				.catalog__img
					img(src="" alt="")
				.catalog__price
				a.catalog__link.btn.--md.--bg-blue(href="")

			.catalog__item
				.catalog__name
				.catalog__img
					img(src="" alt="")
				.catalog__price
				a.catalog__link.btn.--md.--bg-blue(href="")

			.catalog__item
				.catalog__name
				.catalog__img
					img(src="" alt="")
				.catalog__price
				a.catalog__link.btn.--md.--bg-blue(href="")

			.catalog__item
				.catalog__name
				.catalog__img
					img(src="" alt="")
				.catalog__price
				a.catalog__link.btn.--md.--bg-blue(href="")

			.catalog__item
				.catalog__name
				.catalog__img
					img(src="" alt="")
				.catalog__price
				a.catalog__link.btn.--md.--bg-blue(href="")

			.catalog__item
				.catalog__name
				.catalog__img
					img(src="" alt="")
				.catalog__price
				a.catalog__link.btn.--md.--bg-blue(href="")