.catalog
	.case
		.catalog__title.t1 #[i Серия станков #[strong #[u Wandeli]]]
		.catalog__list
			.catalog__item
				.catalog__name QX
				.catalog__img
					img(src="_/uploads/QX-1200.png" alt="")
				.catalog__price От 75 970 ₽
				a.catalog__link.btn.--md.--bg-blue(href="") Подробнее

			.catalog__item
				.catalog__name QX-ZD
				.catalog__img
					img(src="_/uploads/QX-ZD-1200.png" alt="")
				.catalog__price От 98 970 ₽
				a.catalog__link.btn.--md.--bg-blue(href="") Подробнее

			.catalog__item
				.catalog__name QXZ-ZD
				.catalog__img
					img(src="_/uploads/QXZ-ZD-1200.png" alt="")
				.catalog__price От 159 990 ₽
				a.catalog__link.btn.--md.--bg-blue(href="") Подробнее

			.catalog__item
				.catalog__name QZ
				.catalog__img
					img(src="_/uploads/QZ-1200.png" alt="")
				.catalog__price От 112 490 ₽
				a.catalog__link.btn.--md.--bg-blue(href="") Подробнее

			.catalog__item
				.catalog__name QZ-ZD
				.catalog__img
					img(src="_/uploads/QZ-ZD-1200.png" alt="")
				.catalog__price Под заказ
				a.catalog__link.btn.--md.--bg-blue(href="") Подробнее

			.catalog__item
				.catalog__name QZZ
				.catalog__img
					img(src="_/uploads/QZZ.png" alt="")
				.catalog__price От 236 990 ₽
				a.catalog__link.btn.--md.--bg-blue(href="") Подробнее