.catalog(class=catalogClass)
	.case
		.catalog__title.h1(class='animate__animated animate__fadeInUp wow') #[i Серия станков #[strong #[u Wandeli]]]
		.catalog__slider(class='animate__animated animate__fadeInUp wow')
			.catalog__inner
				.catalog__list.row
					.catalog__item
						.catalog__name.h2 QX
						.catalog__img
							img(src="_/uploads/QX-1200.png" alt="")
						.catalog__price.h1 От 75 970 ₽
						a.catalog__link.btn.--md.--bg-blue(href="products.html")
							.btn__inner
								.btn__lines #[div]#[div]#[div]
								.btn__text Подробнее

					.catalog__item
						.catalog__name.h2 QX-ZD
						.catalog__img
							img(src="_/uploads/QX-ZD-1200.png" alt="")
						.catalog__price.h1 От 98 970 ₽
						a.catalog__link.btn.--md.--bg-blue(href="products.html")
							.btn__inner
								.btn__lines #[div]#[div]#[div]
								.btn__text Подробнее

					.catalog__item
						.catalog__name.h2 QXZ-ZD
						.catalog__img
							img(src="_/uploads/QXZ-ZD-1200.png" alt="")
						.catalog__price.h1 От 159 990 ₽
						a.catalog__link.btn.--md.--bg-blue(href="products.html")
							.btn__inner
								.btn__lines #[div]#[div]#[div]
								.btn__text Подробнее

					.catalog__item
						.catalog__name.h2 QZ
						.catalog__img
							img(src="_/uploads/QZ-1200.png" alt="")
						.catalog__price.h1 От 112 490 ₽
						a.catalog__link.btn.--md.--bg-blue(href="products.html")
							.btn__inner
								.btn__lines #[div]#[div]#[div]
								.btn__text Подробнее

					.catalog__item
						.catalog__name.h2 QZ-ZD
						.catalog__img
							img(src="_/uploads/QZ-ZD-1200.png" alt="")
						.catalog__price.h1 Под заказ
						a.catalog__link.btn.--md.--bg-blue(href="products.html")
							.btn__inner
								.btn__lines #[div]#[div]#[div]
								.btn__text Подробнее

					.catalog__item
						.catalog__name.h2 QZZ
						.catalog__img
							img(src="_/uploads/QZZ.png" alt="")
						.catalog__price.h1 От 236 990 ₽
						a.catalog__link.btn.--md.--bg-blue(href="products.html")
							.btn__inner
								.btn__lines #[div]#[div]#[div]
								.btn__text Подробнее
			.catalog__arrow.arrow.--prev
				<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.11074 6.45372L7.34092 0.223657C7.48502 0.0794465 7.67737 0 7.88248 0C8.08758 0 8.27994 0.0794465 8.42403 0.223657L8.88284 0.682352C9.18139 0.981244 9.18139 1.46703 8.88284 1.76547L3.65121 6.9971L8.88865 12.2345C9.03274 12.3787 9.1123 12.571 9.1123 12.776C9.1123 12.9812 9.03274 13.1734 8.88865 13.3178L8.42984 13.7763C8.28563 13.9206 8.09339 14 7.88828 14C7.68318 14 7.49082 13.9206 7.34673 13.7763L1.11074 7.54059C0.966304 7.39592 0.886971 7.20277 0.887427 6.99744C0.886971 6.79131 0.966304 6.59827 1.11074 6.45372Z" fill="white"/></svg>
			.catalog__arrow.arrow.--next
				<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.88926 6.45372L2.65908 0.223657C2.51498 0.0794465 2.32263 0 2.11752 0C1.91242 0 1.72006 0.0794465 1.57597 0.223657L1.11716 0.682352C0.818607 0.981244 0.818607 1.46703 1.11716 1.76547L6.34879 6.9971L1.11135 12.2345C0.967256 12.3787 0.887695 12.571 0.887695 12.776C0.887695 12.9812 0.967256 13.1734 1.11135 13.3178L1.57016 13.7763C1.71437 13.9206 1.90661 14 2.11172 14C2.31682 14 2.50918 13.9206 2.65327 13.7763L8.88926 7.54059C9.0337 7.39592 9.11303 7.20277 9.11257 6.99744C9.11303 6.79131 9.0337 6.59827 8.88926 6.45372Z" fill="white"/></svg>