.catalog(class=catalogClass)
	.case
		.catalog__title.h1 #[i Серия станков #[strong #[u Wandeli]]]
		.catalog__list.row
			.catalog__item
				.catalog__name.h2 QX
				.catalog__img
					img(src="_/uploads/QX-1200.png" alt="")
				.catalog__price.h1 От 75 970 ₽
				a.catalog__link.btn.--md.--bg-blue(href="products.html")
					.btn__inner
						.btn__lines #[div]#[div]#[div]
						.btn__text Подробнее

			.catalog__item
				.catalog__name.h2 QX-ZD
				.catalog__img
					img(src="_/uploads/QX-ZD-1200.png" alt="")
				.catalog__price.h1 От 98 970 ₽
				a.catalog__link.btn.--md.--bg-blue(href="products.html")
					.btn__inner
						.btn__lines #[div]#[div]#[div]
						.btn__text Подробнее

			.catalog__item
				.catalog__name.h2 QXZ-ZD
				.catalog__img
					img(src="_/uploads/QXZ-ZD-1200.png" alt="")
				.catalog__price.h1 От 159 990 ₽
				a.catalog__link.btn.--md.--bg-blue(href="products.html")
					.btn__inner
						.btn__lines #[div]#[div]#[div]
						.btn__text Подробнее

			.catalog__item
				.catalog__name.h2 QZ
				.catalog__img
					img(src="_/uploads/QZ-1200.png" alt="")
				.catalog__price.h1 От 112 490 ₽
				a.catalog__link.btn.--md.--bg-blue(href="products.html")
					.btn__inner
						.btn__lines #[div]#[div]#[div]
						.btn__text Подробнее

			.catalog__item
				.catalog__name.h2 QZ-ZD
				.catalog__img
					img(src="_/uploads/QZ-ZD-1200.png" alt="")
				.catalog__price.h1 Под заказ
				a.catalog__link.btn.--md.--bg-blue(href="products.html")
					.btn__inner
						.btn__lines #[div]#[div]#[div]
						.btn__text Подробнее

			.catalog__item
				.catalog__name.h2 QZZ
				.catalog__img
					img(src="_/uploads/QZZ.png" alt="")
				.catalog__price.h1 От 236 990 ₽
				a.catalog__link.btn.--md.--bg-blue(href="products.html")
					.btn__inner
						.btn__lines #[div]#[div]#[div]
						.btn__text Подробнее