.consult
	.case
		.consult__title.h1 #[strong Заказать консультацию]
		.consult__wrap.row
			.consult__item.consult__input.input.--md.--b-white.--required
				.input__title Ваше имя
				.input__wrap
					input.input__area(type="text" name="name")

			.consult__item.consult__input.input.--md.--b-white.--phone.--required
				.input__title Ваш номер телефона
				.input__wrap
					.input__icon
						<svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0.166504V4.3887V8.61093V12.8331H19V8.61093V4.3887V0.166504H0Z" fill="#F0F0F0"/><path d="M19 0.166748H0V12.8336H19V0.166748Z" fill="#0052B4"/><path d="M19 0.166748H0V4.38887H19V0.166748Z" fill="#F0F0F0"/><path d="M19 8.61121H0V12.8333H19V8.61121Z" fill="#D80027"/></svg>
					.input__desc +7
					input.input__area(type="tel" name="phone" placeholder="900 100 10 00")

			.consult__item.consult__input.input.--md.--b-white.--required
				.input__title Ваша электронная почта
				.input__wrap
					input.input__area(type="text" name="email")

			.consult__item.consult__textarea.textarea.--md.--b-white
				.textarea__title Комментарий
				.textarea__wrap
					textarea.textarea__area(name="comment")

			button.consult__item.consult__btn.btn.--md.--bg-white
				.btn__inner
					.btn__lines #[div]#[div]#[div]
					.btn__text Получить консультацию