.consult
	.case
		.consult__title.h1 #[strong ]
		.consult__wrap.row
			.consult__item.consult__input.input.--b-white.--white.--required
				.input__title
				.input__wrap
					input.input__area(type="text" name="name")

			.consult__item.consult__input.input.--b-white.--white.--phone.--required
				.input__title
				.input__wrap
					input.input__area(type="tel" name="phone" placeholder="900 100 10 00")

			.consult__item.consult__input.input.--b-white.--white.--required
				.input__title
				.input__wrap
					input.input__area(type="text" name="email")

			.consult__item.consult__textarea.textarea.--b-white.--white
					.textarea__title
					.textarea__wrap
						textarea.textarea__area(name="comment")

			button.consult__item.consult__btn.btn.--md.--bg-white 