extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.products
		.case
			.products__list
				mixin product
					.products__item.product
						.product__name.h1 Электрический плиткорез Wandeli #[strong #[u QX-800]] 1550Вт Laser
						.product__wrap
							.product__imgs.imgs
								.imgs__list
									.imgs__list-list
										.imgs__list-item
											img(src="" alt="")
										.imgs__list-item
											img(src="" alt="")
										.imgs__list-item
											img(src="" alt="")
										.imgs__list-item
											img(src="" alt="")
								.imgs__thumbs
									.imgs__thumbs-list
										.imgs__thumbs-item
											img(src="" alt="")
										.imgs__thumbs-item
											img(src="" alt="")
										.imgs__thumbs-item
											img(src="" alt="")
										.imgs__thumbs-item
											img(src="" alt="")

							.product__content
								.product__data.data
									.data__list
										.data__item
											.data__col МОТОР
											.data__col 220В 50Гц 1550Вт 12000обм/мин
										.data__item
											.data__col МАКС. ДИАМЕТР ДИСКА
											.data__col Ø 125
										.data__item
											.data__col ГЛУБИНА РЕЗА ПРИ 90 °/45 °
											.data__col 30 мм / 20 мм
										.data__item
											.data__col МАКС. ДЛИНА РЕЗА
											.data__col 800 мм
										.data__item
											.data__col РАЗМЕР СТОЛА
											.data__col 800 х 350 мм
										.data__item
											.data__col ПАРАМЕТРЫ ВОДЯНОГО НАСОСА
											.data__col 24В 30Вт 9м 6л/мин
										.data__item
											.data__col ГАБАРИТЫ УПАКОВКИ
											.data__col 1310 х 455 х 505
										.data__item
											.data__col ВЕС НЕТТО/БРУТТО
											.data__col 29/34 кг

								.product__controls.row
									.product__price
										.product__price-title Есть в наличии
										.product__price-value Есть в наличии
									a.product__btn.btn.--md.--bg-blue(href="") Оформить заказ
				
				+product
				+product
				+product