extends ../../templates/default
block vars
	-
		title = "Доставка"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.deli-intro.bgw
		.case
			.deli-intro__wrap
				.deli-intro__content
					.deli-intro__title.h1(class='animate__animated animate__fadeInUp wow') #[i Доставка и #[strong #[u оплата]]]
					.deli-intro__text(class='animate__animated animate__fadeInUp wow')
						p Станки #[strong #[u WANDELI]] доставим бесплатно до терминала транспортной компании по: #[strong России, Казахстану, Беларуссии.]
				.deli-intro__img(class='animate__animated animate__fadeInRight wow')
					img(src="_/uploads/deli-intro-img.png" alt="")
			.deli-intro__desc(class='animate__animated animate__fadeInUp wow')
				p Доставку продукции под торговым знаком #[strong Wandeli] по всей России транспортной компанией «ПЭК» до ближайшего терминала мы осуществим #[strong #[u за свой счет.]] Адреса терминалов с бесплатной доставкой уточняйте у операторов.
				p.--black Кроме этого вы можете заказать доставку до вашей двери и оплатить услуги транспортной компании уже при получении заказа.

		.deli-intro__bg.bg
			img(src="_/uploads/deli-intro-bg.png" alt="")

	.pek(class='animate__animated animate__fadeInUp wow')
		.case
			.pek__wrap.row
				.pek__logo
					img(src="_/uploads/pek.svg" alt="")
				.pek__text
					p Мы рекомендуем и предлагаем воспользоваться такой компанией как ПЭК . Она оптимально подходит для перевоза #[strong тяжелых крупногабаритных грузов,] кроме этого имеет обширную сеть терминалов #[strong по всей стране.] #[u Филиалы ПЭК]

	.desc.bgw
		.case
			.desc__list
				.desc__item(class='animate__animated animate__fadeInleft wow')
					p #[strong Наши склады расположены]  в г. Москве и #[br]Санкт-Петербурге. В связи с этим вы можете выбрать любую транспортную компанию, филиал которой расположен в нашем городе.
				.desc__item(class='animate__animated animate__fadeInRight wow')
					p #[strong Акция действует для физических лиц.] Акция не распространяется на товары приобретенные по рассрочке на 24 месяца. Акция распространяется на товары купленные в кредит.
		.desc__bg.bg
			img(src="_/uploads/desc-bg.png" alt="")

	.steps
		.case
			.steps__title.h1(class='animate__animated animate__fadeInUp wow') #[i Подготовка #[strong #[u заказа]]]
			.steps__list.row
				.steps__item(class='animate__animated animate__fadeInUp wow')
					.steps__count 01
					.steps__text Перед отправкой, мы #[br]в обязательном порядке #[br]проверим ваш заказ.

				.steps__item(class='animate__animated animate__fadeInUp wow')
					.steps__count 02
					.steps__text Ваш товар будет тщательно #[br]упакован во избежание #[br]повреждения при #[br]перевозке.

				.steps__item(class='animate__animated animate__fadeInUp wow')
					.steps__count 03
					.steps__text Вам будут предоставлены #[br]все необходимые документы #[br]при выбранном #[br]способе оплаты.

				.steps__item(class='animate__animated animate__fadeInUp wow')
					.steps__count 04
					.steps__text Мы сообщим вам номер #[br]накладной для отслеживания #[br]отправления.


	.delivery(class='animate__animated animate__fadeInUp wow')
		.case
			.delivery__title.h1(class='animate__animated animate__fadeInUp wow') #[i Доставка по Санкт-Петербургу и Москве #[strong #[u на следующий день после заказа]]]
			.delivery__list
				.delivery__item.row(class='animate__animated animate__fadeInUp wow')
					.delivery__icon
						img(src="_/uploads/delivery-1.svg" alt="")
					.delivery__content
						.delivery__name.h2 Бесплатная доставка курьером
						.delivery__text
							p Доставка товара более 15 кг осуществляется до парадной без подъема на этаж. Подъем товара (до 15 кг) на этаж , только при наличии лифта. На объекты с пропускным режимом товар доставляется до шлагбаума. Доставка за пределы КАД и МКАД выполняется по предварительной договоренности. Платная доставка 580 рублей. Доставка за пределы МКАД и КАД 30р за км (до 20км, остальное по договоренности).

				.delivery__item.row(class='animate__animated animate__fadeInUp wow')
					.delivery__icon
						img(src="_/uploads/delivery-2.svg" alt="")
					.delivery__content
						.delivery__name.h2 Самовывоз с нашего склада
						.delivery__text
							p У многих возникает желание посмотреть товар и приобрести его на месте, для таких клиентов мы предусмотрели возможность самовывоза с нашего склада и точек продаж. Адреса наших складов и офисов продаж вы можете всегда найти на странице контакты.

				.delivery__item.row(class='animate__animated animate__fadeInUp wow')
					.delivery__icon
						img(src="_/uploads/delivery-3.svg" alt="")
					.delivery__content
						.delivery__name.h2 Пункты выдачи заказов
						.delivery__text
							p Наша партнерская сеть, это сеть компаний агентов связанных с нами договорными обязательствами и уполномоченных предоставлять вам документы на подпись и принять оплату за заказ.
							p Обращаем ваше внимание что консультаций такие компании не оказывают, некоторые пункты выдачи заказов имеют ограничение по весу и габаритам. Товар туда доставляется по предварительному заказу на нашем сайте.
