include ../../sys/pug/vars

header.header
	.case
		.header__wrap.row
			a.header__logo.logo(href="")
				img(src="" alt="")
			.header__nav
				ul
					li
						a(href="") 
					li
						a(href="") 
					li
						a(href="") 
					li
						a(href="") 
					li
						a(href="") 
			.header__contacts
				.header__email.email
					.email__icon
					.email__value
				.header__phones
					p #[a(href="tel:") ]
					p #[a(href="tel:") ]