include ../../sys/pug/vars

.nav
	.nav__wrap
		.nav__close.tog-nav
		a.nav__logo.logo(href="index.html")
			img(src="_/uploads/logo.svg" alt="")
		.nav__nav
			ul
				li.--selected
					a(href="index.html") Главная
				li
					a(href="catalog.html") Подбор станка
				li
					a(href="delivery.html") Доставка и оплата
				li
					a(href="contacts.html") Контакты
				li.--lk
					a(href="javascript:;" data-src="#modal-auth" data-fancybox="") Личный кабинет

		.nav__contacts
			.nav__email.email
				.email__icon
					<svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2579 7.10266L20.0004 11.3652V2.66016L13.2579 7.10266Z" fill="#363636"/><path d="M0 2.66016V11.3652L6.7425 7.10266L0 2.66016Z" fill="#363636"/><path d="M18.7503 0.125H1.25034C0.626592 0.125 0.131592 0.59 0.0378418 1.18875L10.0003 7.7525L19.9628 1.18875C19.8691 0.59 19.3741 0.125 18.7503 0.125Z" fill="#363636"/><path d="M12.1126 7.85769L10.3438 9.02269C10.2388 9.09144 10.1201 9.12519 10.0001 9.12519C9.88007 9.12519 9.76132 9.09144 9.65632 9.02269L7.88757 7.85645L0.0400696 12.8202C0.13632 13.4139 0.62882 13.8752 1.25007 13.8752H18.7501C19.3713 13.8752 19.8638 13.4139 19.9601 12.8202L12.1126 7.85769Z" fill="#363636"/></svg>
				.email__value #[a(href="mailto:sale@fortezzo.com") sale@fortezzo.com]
			.nav__phones
				p #[a(href="tel:+78007070435") 8 800 707 04 35]
				p #[a(href="tel:+78126034995") 8 812 603 49 95]

header.header
	.case
		.header__wrap.row
			.header__ham-wrap
				.header__ham.tog-nav #[div]#[div]#[div]
			a.header__logo.logo(href="index.html")
				img(src="_/uploads/logo.svg" alt="")
			.header__nav
				ul
					li.--selected
						a(href="index.html") Главная
					li
						a(href="catalog.html") Подбор станка
					li
						a(href="delivery.html") Доставка и оплата
					li
						a(href="contacts.html") Контакты
					li.--lk
						a(href="javascript:;" data-src="#modal-auth" data-fancybox="") Личный кабинет
			.header__contacts
				.header__email.email
					.email__icon
						<svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2579 7.10266L20.0004 11.3652V2.66016L13.2579 7.10266Z" fill="#363636"/><path d="M0 2.66016V11.3652L6.7425 7.10266L0 2.66016Z" fill="#363636"/><path d="M18.7503 0.125H1.25034C0.626592 0.125 0.131592 0.59 0.0378418 1.18875L10.0003 7.7525L19.9628 1.18875C19.8691 0.59 19.3741 0.125 18.7503 0.125Z" fill="#363636"/><path d="M12.1126 7.85769L10.3438 9.02269C10.2388 9.09144 10.1201 9.12519 10.0001 9.12519C9.88007 9.12519 9.76132 9.09144 9.65632 9.02269L7.88757 7.85645L0.0400696 12.8202C0.13632 13.4139 0.62882 13.8752 1.25007 13.8752H18.7501C19.3713 13.8752 19.8638 13.4139 19.9601 12.8202L12.1126 7.85769Z" fill="#363636"/></svg>
					.email__value #[a(href="mailto:sale@fortezzo.com") sale@fortezzo.com]
				.header__phones
					p #[a(href="tel:+78007070435") 8 800 707 04 35]
					p #[a(href="tel:+78126034995") 8 812 603 49 95]
			a.header__call(href="tel:+78007070435")
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#header-call)"><path d="M17.5101 13.2102L14.9981 10.6982C14.101 9.80111 12.5759 10.16 12.217 11.3262C11.9479 12.1337 11.0508 12.5822 10.2434 12.4028C8.4491 11.9542 6.02686 9.62168 5.5783 7.73772C5.30916 6.93027 5.84744 6.03314 6.65485 5.76404C7.82111 5.40519 8.17997 3.88007 7.28284 2.98295L4.77089 0.470991C4.05318 -0.156997 2.97663 -0.156997 2.34864 0.470991L0.644104 2.17553C-1.06044 3.96978 0.823529 8.72455 5.04002 12.941C9.25652 17.1575 14.0113 19.1313 15.8055 17.337L17.5101 15.6324C18.1381 14.9147 18.1381 13.8382 17.5101 13.2102Z" fill="#1C9AD7"/></g><defs><clipPath id="header-call"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>