extends ../../templates/default
block vars
	-
		title = "Контакты"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.contacts
		.case
			.contacts__title.h1(class='animate__animated animate__fadeInUp wow') #[i Контакты и #[strong #[u обратная связь]]]
			.contacts__wrap.row
				.contacts__list(class='animate__animated animate__fadeInLeft wow')
					.contacts__item
						.contacts__icon
							img(src="_/uploads/phone.svg" alt="")
						.contacts__text
							p #[a(href="tel:+78007070435") 8 800 707 04 35]
							p #[a(href="tel:+78126034995") 8 812 603 49 95]
					.contacts__item
						.contacts__icon
							img(src="_/uploads/email.svg" alt="")
						.contacts__text
							p #[a(href="mailto:sale@fortezzo.com") sale@fortezzo.com]
					.contacts__item
						.contacts__icon
							img(src="_/uploads/placeholder.svg" alt="")
						.contacts__text
							p г. Санкт-Петербург, ул. Митрофаньевское шоссе, д.29, БЦ "Радуга", офис 107.
				.contacts__content(class='animate__animated animate__fadeInRight wow')
					h3 ООО "ФОРТЕЦЦО"
					p #[strong ИНН] 7805741847
					p #[strong ОГРН] 1197847020964
					p #[strong Юр. Адрес] 198096, #[br.br-hidden]САНКТ-ПЕТЕРБУРГ Г, УЛ КРОНШТАДТСКАЯ, дом 24, корп. ЛИТ А, П6-Н К2

	.map(class='animate__animated animate__fadeInUp wow')
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		.map__area(data-lng="59.890442" data-lnt="30.301603")

	include ../../parts/consult 