.popup {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.popup.--show {
  opacity: 1;
  visibility: visible;
}
.popup__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.popup__wrap {
  z-index: 100;
  position: relative;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.popup__wrap > * {
  transition: none;
  display: block !important;
}
.popup__wrap > *.--hidden {
  height: 0;
  visibility: hidden;
}
.popup__wrap.--show {
  opacity: 1;
  visibility: visible;
}
.popup__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.popup__img-wrap.--show {
  opacity: 1;
  visibility: visible;
}
.popup__img {
  max-width: calc(100% - 120px);
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__img img {
  transition: 0.3s;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.popup__img img.--hidden {
  opacity: 0;
}
.popup__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #000;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}
.popup__arrow svg {
  width: 22px;
}
.popup__arrow:hover {
  background-color: #000;
}
.popup__arrow.--prev {
  margin-right: 20px;
}
.popup__arrow.--prev svg {
  transform: rotate(180deg);
}
.popup__arrow.--next {
  margin-left: 20px;
}
.popup__arrow.--show {
  opacity: 1;
  visibility: visible;
}
.popup__bg {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #041125;
}