extends ../../templates/default
block vars
	-
		title = "Серия станков Wandeli"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	- catalogClass = '--pt'
	include ../../parts/catalog

	.tech
		.case
			.tech__title.h1 #[i Технические собенности станков #[strong #[u Wandeli]]]
			.tech__list.row
				.tech__item.bgw
					.tech__count 01
					.tech__name.h2 Мощный двигатель
					.tech__img.bg
						img(src="_/uploads/tech-1.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 02
					.tech__name.h2 Слотирование
					.tech__img.bg
						img(src="_/uploads/tech-2.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 03
					.tech__name.h2 Шлифование кромки
					.tech__img.bg
						img(src="_/uploads/tech-3.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 04
					.tech__name.h2 Диагональный рез
					.tech__img.bg
						img(src="_/uploads/tech-4.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 05
					.tech__name.h2 Типовые операции
					.tech__img.bg
						img(src="_/uploads/tech-5.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 06
					.tech__name.h2 Снятие фаски
					.tech__img.bg
						img(src="_/uploads/tech-6.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 07
					.tech__name.h2 Панель управления
					.tech__img.bg
						img(src="_/uploads/tech-7.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 08
					.tech__name.h2 Вертикальный ход
					.tech__img.bg
						img(src="_/uploads/tech-8.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 09
					.tech__name.h2 Рез под наклоном
					.tech__img.bg
						img(src="_/uploads/tech-9.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 10
					.tech__name.h2 Диск 180 мм
					.tech__img.bg
						img(src="_/uploads/tech-10.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 11
					.tech__name.h2 Быстрая установка плитки
					.tech__img.bg
						img(src="_/uploads/tech-11.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 12
					.tech__name.h2 Наклон под 45°
					.tech__img.bg
						img(src="_/uploads/tech-12.jpg" alt="")
				
				.tech__item.bgw
					.tech__count 13
					.tech__name.h2 Усиленный мост
					.tech__img.bg
						img(src="_/uploads/tech-13.jpg" alt="")

				.tech__item.bgw
					.tech__count 14
					.tech__name.h2 Усиленный стол
					.tech__img.bg
						img(src="_/uploads/tech-14.jpg" alt="")

	.docs
		.case
			.docs__title.h1 #[i Разрешительная #[strong #[u документация]]]
			.docs__wrap.bgw
				.docs__list
					.docs__item
						.docs__img
							img(src="_/uploads/docs-1.png" alt="")
						.docs__name.h2 Сертификат EAC
					.docs__item
						.docs__img
							img(src="_/uploads/docs-2.png" alt="")
						.docs__name.h2 Свидетельство на товарный знак
				.docs__bg.bg
					img(src="_/uploads/docs-bg.png" alt="")

	include ../../parts/consult