extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	include ../../parts/catalog

	.tech
		.case
			.tech__title.h1 #[i Технические собенности станков #[strong #[u Wandeli]]]
			.tech__list.row
				.tech__item.bgw
					.tech__count 01
					.tech__name Мощный двигатель
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 02
					.tech__name Слотирование
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 03
					.tech__name Шлифование кромки
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 04
					.tech__name Диагональный рез
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 05
					.tech__name Типовые операции
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 06
					.tech__name Снятие фаски
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 07
					.tech__name Панель управления
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 08
					.tech__name Вертикальный ход
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 09
					.tech__name Рез под наклоном
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 10
					.tech__name Диск 180 мм
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 11
					.tech__name Быстрая установка плитки
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 12
					.tech__name Наклон под 45°
					.tech__img(src="" alt="")
				
				.tech__item.bgw
					.tech__count 13
					.tech__name Усиленный мост
					.tech__img(src="" alt="")

				.tech__item.bgw
					.tech__count 14
					.tech__name Усиленный стол
					.tech__img(src="" alt="")

	.docs
		.case
			.docs__title.h1 #[i Разрешительная #[strong #[u документация]]]
			.docs__list
				.docs__item.row
					.docs__img
						img(src="" alt="")
					.docs__name.h2 Сертификат EAC
				.docs__item.row
					.docs__img
						img(src="" alt="")
					.docs__name.h2 Свидетельство на товарный знак

	include ../../parts/consult