.case {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 400px) {
  .case {
    max-width: 400px;
  }
}
@media screen and (min-width: 540px) {
  .case {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .case {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .case {
    max-width: 960px;
  }
}
@media screen and (min-width: 1340px) {
  .case {
    max-width: 1290px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}