.case {
  position: relative;
  width: 100%;
  max-width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}