.input__wrap {
  position: relative;
}
.input__area {
  width: 100%;
  font-family: "Tahoma", sans-serif;
  color: #fff;
  background-color: transparent;
}
.input__area::placeholder {
  opacity: 0.5;
  color: #fff;
}